@font-face {
    font-family: Caveat;
    src: url(Fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Crazy;
    src: url(Fonts/Agbalumo-Regular.ttf);
}
/*---------------------------------------- Elements -------------------------------------------*/

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    place-items: center;
    padding: auto;
    border: 4px solid;
    border-color: coral;
    font-family: Crazy;
}
hr{
    border-color: coral;
}
i{
    color: rgb(255, 146, 3);
}
i:hover{
    color: crimson;
}
mark{
    background-color: crimson;
}
a{
    color: crimson;
}
/*------------------------------------------- ID's --------------------------------------*/
#p1:hover{
    color: rgb(9, 255, 0);
}
#p2{
    border:1px solid coral;
    text-align: center;
    color: crimson;
}
#video1{
    place-self: center;
}
#imgs{
    border: 2px solid coral;
}
#myname{
    color: salmon;
}
#author{
    color: rgb(6, 253, 109);
    background-color: rgba(200, 220, 20, 0.295);
}
#author::selection{
    color: rgb(202, 111, 7);
    background-color: rgba(0, 0, 0, 0.678);
}
/*---------------------------------------- Classes ---------------------------------------*/
.imge{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imgs/2ndbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(5px);
}
.Content{
    position: relative;
    z-index: 1;
}
.topmedia{
    display: flex;
    margin-left: 5%;
    margin-top: 10%;
}
.topmedia video{
    margin-left: 5%;
}
.topmedia a{
    display: inline;
}
.topicon{
    float: left;
    margin-right: 10px;

}
.Htitle{
    color: rgb(140, 197, 84);
    text-align: center;
    border: 2px solid coral;
    padding: 15px;
    margin: 5%;
}
.Htitle h1::selection{
    color: rgb(202, 7, 7);
    background-color: rgba(0, 0, 0, 0.678);
}
.Htitle h2::selection{
    color: rgb(202, 7, 7);
    background-color: rgba(0, 0, 0, 0.678);
}
.P1 p::selection{
    color: rgb(202, 7, 7);
    background-color: rgba(0, 0, 0, 0.678);
}
.P1 p{
    font-size: 30px;
    color: rgb(229, 255, 0);
    display: inline;
}
.P1{
    text-align: center;
    margin: 1%;
}
.links{
    text-align: center;
    color: rgb(21, 145, 145);
}
.links a::selection{
    color: coral;
    background-color: black;
}
.links a{
    text-decoration: none;
}
.cpyright{
    text-align: center;
    color: rgb(253, 249, 6);
    margin: 15px;
}
.cpyright::selection{
    color: rgb(30, 255, 0);
    background-color: black;
}
.Email{
    border:3px solid coral;
    text-align: center;
    
    color: crimson;
}
.Email::selection{
    color: coral;
    background-color: black;
}
.Email a{
    border: none;
    text-decoration: none;
}
.Email big{
    border: none;
}
.pagination-banner{
    position: sticky;
    display: flex;
    bottom: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(220, 127, 20, 0.11), rgba(221, 76, 9, 0.397));
    color: chartreuse;
}
.active{
    text-decoration: none;
    color:rgb(235, 60, 6);
    font-size: 25px;
    background-color: rgba(238, 232, 170, 0.411);
    padding: 1%;
    margin: 20px;
    border-radius: 5%;
}
.active:hover{
    font-size: 28px;
    background-color: rgb(238, 232, 170);
}
.pagination-banner a:not(.active){
    margin: 20px;
    padding: 1%;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 5%;
}
.pagination-banner a:not(.active):hover{
    font-size: 23px;
    background-color: rgb(220, 247, 159);
}
