body{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: -90%;
    color: aqua;
}
#cpyright{
    text-align: center;
}
hr{
    border-color: black;
}
.header-H{
    color: chartreuse;
    text-align: center;
}

#p1{
    text-align: center;
    font-size: 20px;
    font-family: palatino, serif;
    color: aqua;
}
#p2{
    text-align: center;
    color: rgb(73, 247, 5)
}
i{
    color: darkred;
}
big{
    background-color: rgba(14, 250, 6, 0.103);
}
mark{
    background-color: crimson;
}
a{
    color: crimson;
}
.links{
    text-align: center;
    color: rgb(21, 145, 145);
    background: linear-gradient(to right, #302b63, #0f0c29, #24243e, #302b63);

}